# OS & IDE
.DS_Store
.idea/
.vscode/
.gemini

# Build and packages
node_modules/
dist/
tmp/
safari/

# Data & Secrets
raw-data/
recordings/
*.mitm
*.ryanair.com/

# pnpm
pnpm-lock.yaml
pnpm-workspace.yaml